{# main content zone #}
<div class="panda__content">
  <div class="panda__content-form">
    <h2>Add a todo:</h2>
    <form action="">
      <input type="text" />
      <a href=""><i class="mdi mdi-plus"></i></a>
    </form>
  </div>
  <div class="panda__content-todos">
    <h2><span>Category</span> todo's.</h2>

    <section class="panda__content-todo-list">
      <ul>
        <li class="complete">
          <a href="" class="complete-action"><i class="mdi mdi-check"></i></a>
          <div class="todo-item-copy">
            <span class="todo-item-copy-text">Learn VueJS</span>
            <a href="">Edit</a>
          </div>
          <a href="" class="action-remove">Remove</a>
        </li>
        <li>
          <a href="" class="complete-action"><i class="mdi mdi-check"></i></a>
          <div class="todo-item-copy">
            <span class="todo-item-copy-text">Learn VueJS</span>
            <a href="">Edit</a>
          </div>
          <a href="" class="action-remove">Remove</a>
        </li>
        <li class="complete">
          <a href="" class="complete-action"><i class="mdi mdi-check"></i></a>
          <div class="todo-item-copy">
            <span class="todo-item-copy-text">Learn VueJS</span>
            <a href="">Edit</a>
          </div>
          <a href="" class="action-remove">Remove</a>
        </li>
        <li>
          <a href="" class="complete-action"><i class="mdi mdi-check"></i></a>
          <div class="todo-item-copy">
            <span class="todo-item-copy-text">Learn VueJS</span>
            <a href="">Edit</a>
          </div>
          <a href="" class="action-remove">Remove</a>
        </li>
      </ul>
    </section>

    <section class="panda__content-empty">
      <p>
          There are no todos here. <br /> Try creating one.
      </p>
    </section>
  </div>
</div>
