{# left menu #}
<div class="panda__menu">
  <div class="panda__menu-logo">
    <a href="/"><img src="/img/logo.png" alt="Panda" /></a>
  </div>
  <div class="panda__menu-categories">
    <ul>
      <li><a href="">All <sup>20</sup></a></li>
      <li><a href="">Work <sup>20</sup></a></li>
      <li><a href="">Personal <sup>20</sup></a></li>
      <li><a href="">Other <sup>20</sup></a></li>
    </ul>
  </div>
  <div class="panda__menu-admin">
    <ul>
      <li><a href="">Admin Categories</a></li>
    </ul>
  </div>
  <div class="panda__menu-branding">
    <a href=""><img src="/img/debrain-logo.webp" alt=""></a>
  </div>
</div>
