{% extends "_shared/templates/panda.html" %}

{% block content %}
  <div class="panda">
    {% include "_shared/partials/menu.njk" %}
    {% include "_shared/partials/content.njk" %}
  </div>
{% endblock %}
